@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi!</h1>
    <p>Paste ingredient list of some product below to get started</p>
</div>

<partial name="Check/_Check" />