<form method="post">
    <div class="mb-3">
        <textarea class="form-control" id="ingredientList" rows="3"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Check your product" />
</form>